.accordion{

}


.accordion .card{

}


.accordion .card .card-header{
  padding: 0px;
}



.btn-file {
    position:relative;
    overflow:hidden;
}
.btn-file input {
    position:absolute;
    top:0;
    right:0;
    margin:0;
    width:100%;
    height: 100%;
    opacity:0;
    -ms-filter:'alpha(opacity=0)';
    font-size:0px;
    cursor:pointer;
}


.grecaptcha-badge{
  top: 50%
}






.bubble {
    position: relative;
    background: #00aabb;
    border-radius: .4em;
    padding: 10px;
    display: inline-block;
}

.bubble-bottom{
  margin-bottom: 10px;
}

.bubble-bottom:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top-color: #00aabb;
    border-bottom: 0;
    margin-left: -7px;
    margin-bottom: -7px;
}


.bubble-left{
  margin-left: 10px;
}

.bubble-left:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-right-color: #00aabb;
  border-left: 0;
  margin-top: -7px;
  margin-left: -7px;
}



.bubble-right{
  margin-right: 10px;
}

.bubble-right:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-left-color: #00aabb;
  border-right: 0;
  margin-top: -7px;
  margin-right: -7px;
}



.bubble-top{
  margin-top: 10px;
}

.bubble-top:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-color: #00aabb;
  border-top: 0;
  margin-left: -7px;
  margin-top: -7px;
}







.on-cloud {
    position: absolute;
    left: -99999999px;
    top: -99999999px;
}








ul.control {
  min-width: 10px;
  padding: 0px;
}

ul.control li{
  height: 36px;
}

ul.control li:first-child a {
  border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}
ul.control li:last-child a {
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}
ul.control li a {
    padding: 8px 13px;
    height: 36px;
    display: block;
    font-style: normal;
    text-decoration: none;
}

ul.control li a.delete {
  background-color: #72808A;
  color: #FFF;
}
ul.control li a.delete:hover {
  background-color: #636f77;
}


ul.control li a.edit {
  background-color: #5cb85c;
  color: #FFF;
}
ul.control li a.edit:hover {
  background-color: #449d44;
}
ul.control li a.delete {
  background-color: #d9534f;
  color: #FFF;
}
ul.control li a.delete:hover {
  background-color: #c9302c;
}
ul.control li a.email {
  background-color: #31B0D5;
  color: #FFF;
}
ul.control li a.email:hover {
  background-color: #279bbd;
}


ul.control li a.clone {
  background-color: #aaa;
  color: #000;
}

ul.control li a.clone:hover {
  background-color: #888;
}






.button {
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 38px;
  width: 38px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.button:hover:not(.button-preloader) {
  background-position: 0px -38px;
}
.button-enabled {
  background-image: url('../images/activo.png');
  cursor: pointer;
}
.button-disabled {
  background-image: url('../images/inactivo.png');
  cursor: pointer;
}
.button-preloader {
  background-image: url('../images/preloader-black.gif');
  cursor: default;
}




.state {
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 38px;
  width: 38px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;  
}
.state-enabled {
  background-image: url('../images/activo.png');
}
.state-disabled {
  background-image: url('../images/inactivo.png');
}







.loader-35-b {
  background-position: 0px 0px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 30px;
  width: 30px;
  cursor: none;
  background-image: url('../images/loader-35-b.gif');
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
.loader-35-g {
  background-position: 0px 0px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 30px;
  width: 30px;
  cursor: none;
  background-image: url('../images/loader-35-g.gif');
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

.loader-35-w {
  background-position: 0px 0px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 30px;
  width: 30px;
  cursor: none;
  background-image: url('../images/loader-35-w.gif');
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}


.select-load,
.select-load.select2-container .select2-selection{
  background-position: 96.5% center !important;
  background-repeat: no-repeat !important;
  background-image: url('../images/loader-35-w.gif') !important;
  background-size: 20px 20px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-load.select2-container .select2-selection .select2-selection__arrow{
  display: none;
}




.table{
  margin-bottom: 0px !important;
}

.table + .table{
  margin-top: 15px;
}


















/************CHECKBOX AND RADIO BUTTON ************/

.inputGroup {
  background-color: #eee;
  display: block;
  margin: 10px 0;
  position: relative;
}
.inputGroup label {
  padding: 15px;
  width: 100%;
  display: block;
  text-align: left;
  color: #3c454c;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
}
.inputGroup label:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: "";
  background-color: #27282A;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
          transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}
.inputGroup label:after {
  width: 32px;
  height: 32px;
  content: "";
  border: 2px solid #d1d7dc;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}
.inputGroup input:checked ~ label {
  color: #fff;
}
.inputGroup input:checked ~ label:before {
  -webkit-transform: translate(-50%, -50%) scale3d(100, 100, 1);
          transform: translate(-50%, -50%) scale3d(100, 100, 1);
  opacity: 1;
}
.inputGroup input:checked ~ label:after {
  background-color: #007bff;
  border-color: #007bff;
}
.inputGroup input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}




.product-image {
    max-width: 100px !important;
}












.price-old{
  text-decoration: line-through;
}
