* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #201e1e;
    color: #6F6F6F;
    font-size: 0.9rem;
}



#wrapper.platform {
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: flex;
    flex-direction: -webkit-column;
    flex-direction: -moz-column;
    flex-direction: -o-column;
    flex-direction: column;
    width: 100%;
}



#wrapper.platform>#wrapper-header {
    position: relative;
    z-index: 1038;
    min-height: 101px;
    font-size: 15px;
}


#wrapper.platform>#wrapper-header>#wrapper-header-navbar {
    height: auto;
    min-height: 101px;
    padding: 0px 0px 1px 0px;
    background-color: #201e1e;
    -moz-transition: height 5s ease;
    -webkit-transition: height 5s ease;
    -o-transition: height 5s ease;
    transition: height 5s ease;
    border-bottom: 8px solid #fec309;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.65);
}

#wrapper.platform>#wrapper-header>#wrapper-header-navbar>.container-fluid{
    padding-left: 5%;
    padding-right: 5%;
}

@media (min-width: 992px) {
    #wrapper.platform>#wrapper-header>#wrapper-header-navbar>.container-fluid{
        padding-left: 3%;
        padding-right: 3%;
    }
}

#wrapper.platform>#wrapper-header>#wrapper-header-navbar #brand {
    padding-top: 5px;
}

#wrapper.platform>#wrapper-header>#wrapper-header-navbar #brand #brand-logo {
    height: 60px !important;
}


#wrapper.platform>#wrapper-header>nav.navbar .navbar-toggler {
    position: absolute;
    right: 0;
    top: 24px;
}

#wrapper.platform>#wrapper-header>nav.navbar .navbar-toggler.hamburger:focus {
    outline: none;
}

#wrapper.platform>#wrapper-header>nav.navbar .navbar-toggler.hamburger .hamburger-inner,
#wrapper.platform>#wrapper-header>nav.navbar .navbar-toggler.hamburger .hamburger-inner::before,
#wrapper.platform>#wrapper-header>nav.navbar .navbar-toggler.hamburger .hamburger-inner::after,
#wrapper.platform>#wrapper-header>nav.navbar .navbar-toggler.hamburger:not(.collapsed) .hamburger-inner,
#wrapper.platform>#wrapper-header>nav.navbar .navbar-toggler.hamburger:not(.collapsed) .hamburger-inner::before,
#wrapper.platform>#wrapper-header>nav.navbar .navbar-toggler.hamburger:not(.collapsed) .hamburger-inner::after {
    background-color: #fec309;
}


#wrapper.platform>#wrapper-header>nav.navbar .navbar-collapse>.navbar-nav>li.nav-item {
    padding: 15px 15px;
    font-size: 1.2rem;
}

#wrapper.platform>#wrapper-header>nav.navbar .navbar-collapse>.navbar-nav>li.nav-item:first-child{
    padding-left: 0px;
}

#wrapper.platform>#wrapper-header>nav.navbar .navbar-collapse>.navbar-nav>li.nav-item:last-child{
    padding-right: 0px;
}

#wrapper.platform>#wrapper-header>nav.navbar .navbar-collapse>.navbar-nav>li.nav-item>a {
    color: #FFF;
    font-size: 0.9rem;
    opacity: 0.8;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    padding: 0rem;
}

#wrapper.platform>#wrapper-header>nav.navbar .navbar-collapse>.navbar-nav>li.nav-item:hover>a {
    opacity: 1;
}

#wrapper.platform>#wrapper-header>nav.navbar .navbar-collapse>.navbar-nav>li.nav-item.active>a {
    color: #fec309;
    font-weight: bold;
    opacity: 1;
}


#wrapper.platform>#wrapper-header>nav.navbar .navbar-collapse>.navbar-nav>li.nav-item>.dropdown-menu {
    padding: 0px;
    border-radius: 0px;
}

#wrapper.platform>#wrapper-header>nav.navbar .navbar-collapse>.navbar-nav>li.nav-item>.dropdown-menu>.dropdown-item {
    padding: 0.75rem 1.5rem;
    border-bottom: 1px solid #ccc;
}

#wrapper.platform>#wrapper-header>nav.navbar .navbar-collapse>.navbar-nav>li.nav-item>.dropdown-menu>.dropdown-item:last-child {
    border-bottom: 0px;
}


@media (min-width: 1200px) {

    #wrapper.platform>#wrapper-header>nav.navbar .navbar-collapse>.navbar-nav>li.nav-item>.dropdown-menu {
        right: auto;
        left: 50%;
        top: 80%;
        -webkit-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    #wrapper.platform>#wrapper-header>nav.navbar .navbar-collapse>.navbar-nav>li.nav-item>.dropdown-menu>.dropdown-menu-arrow {
        top: -18px;
        left: 50%;
        width: 0;
        height: 0;
        position: relative;
    }

    #wrapper.platform>#wrapper-header>nav.navbar .navbar-collapse>.navbar-nav>li.nav-item>.dropdown-menu>.dropdown-menu-arrow:before,
    #wrapper.platform>#wrapper-header>nav.navbar .navbar-collapse>.navbar-nav>li.nav-item>.dropdown-menu>.dropdown-menu-arrow:after {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-width: 7px 8px;
        border-style: solid;
        border-color: transparent;
        z-index: 1001;
    }

    #wrapper.platform>#wrapper-header>nav.navbar .navbar-collapse>.navbar-nav>li.nav-item>.dropdown-menu>.dropdown-menu-arrow:after {
        bottom: -18px;
        right: -8px;
        border-bottom-color: #fff;
    }

    #wrapper.platform>#wrapper-header>nav.navbar .navbar-collapse>.navbar-nav>li.nav-item>.dropdown-menu>.dropdown-menu-arrow:before {
        bottom: -17px;
        right: -8px;
        border-bottom-color: rgba(0, 0, 0, .15);
    }

}

@media (max-width: 1199px) {

    #wrapper.platform>#wrapper-header>#wrapper-header-navbar {
        padding: 20px 0px;
    }

    #wrapper.platform>#wrapper-header>nav.navbar .navbar-collapse {
        max-width: 90%;
        margin: 15px auto 0px auto;
        border: 1px solid rgba(0, 0, 0, 0.30);
    }

    #wrapper.platform>#wrapper-header>nav.navbar .navbar-collapse>.navbar-nav {
        background-color: rgba(0, 0, 0, 0.25);
        border: 1px solid #fec309;
    }

    #wrapper.platform>#wrapper-header>nav.navbar .navbar-collapse>.navbar-nav>li.nav-item {
        border-bottom: 1px solid rgba(254, 195, 9, 0.25);
        padding: 15px;
        text-decoration: none;
    }

    #wrapper.platform>#wrapper-header>nav.navbar .navbar-collapse>.navbar-nav>li.nav-item:first-child {
        padding: 15px;
    }

    #wrapper.platform>#wrapper-header>nav.navbar .navbar-collapse>.navbar-nav>li.nav-item:last-child {
        border-bottom: 0px;
        padding: 15px;
    }

    #wrapper.platform>#wrapper-header>nav.navbar .navbar-collapse>.navbar-nav>li.nav-item>.dropdown-menu {
        margin-top: 12px;
        background-color: rgba(0, 0, 0, 0.15);
        border: 1px solid rgba(3, 254, 3, 0.25);
    }

    #wrapper.platform>#wrapper-header>nav.navbar .navbar-collapse>.navbar-nav>li.nav-item>.dropdown-menu>.dropdown-item {
        color: rgba(255, 255, 255, 0.65);
        border-bottom: 1px solid rgba(3, 254, 3, 0.25) !important;
    }

    #wrapper.platform>#wrapper-header>nav.navbar .navbar-collapse>.navbar-nav>li.nav-item>.dropdown-menu>.dropdown-item:hover,
    #wrapper.platform>#wrapper-header>nav.navbar .navbar-collapse>.navbar-nav>li.nav-item>.dropdown-menu>.dropdown-item.active {
        color: rgba(255, 255, 255, 1) !important;
        background-color: transparent !important;
    }

    #wrapper.platform>#wrapper-header>nav.navbar .navbar-collapse>.navbar-nav>li.nav-item>.dropdown-menu>.dropdown-item:last-child {
        border-bottom: 0px !important;
    }

    #wrapper.platform>#wrapper-header>nav.navbar .navbar-collapse>.navbar-nav>li.nav-item>.dropdown-menu>.dropdown-menu-arrow {
        top: -18px;
        left: 7%;
        width: 0;
        height: 0;
        position: relative;
    }

    #wrapper.platform>#wrapper-header>nav.navbar .navbar-collapse>.navbar-nav>li.nav-item>.dropdown-menu>.dropdown-menu-arrow:before,
    #wrapper.platform>#wrapper-header>nav.navbar .navbar-collapse>.navbar-nav>li.nav-item>.dropdown-menu>.dropdown-menu-arrow:after {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-width: 7px 8px;
        border-style: solid;
        border-color: transparent;
        z-index: 1001;
    }

    #wrapper.platform>#wrapper-header>nav.navbar .navbar-collapse>.navbar-nav>li.nav-item>.dropdown-menu>.dropdown-menu-arrow:after {
        bottom: -18px;
        right: -8px;
        border-bottom-color: rgba(0, 0, 0, 0.15);
    }

    #wrapper.platform>#wrapper-header>nav.navbar .navbar-collapse>.navbar-nav>li.nav-item>.dropdown-menu>.dropdown-menu-arrow:before {
        bottom: -17px;
        right: -8px;
        border-bottom-color: rgba(0, 0, 0, .15);
    }
}

#wrapper.platform>#wrapper-banner .theme-default .nivoSlider {
    margin-bottom: 0px !important;
}

#wrapper.platform>#wrapper-frame {
    background-color: #f7f7f7;
    padding-top: 20px;
    padding-bottom: 20px;
}


#wrapper.platform>#wrapper-pos {
    background-color: #f0f0f0;
    padding: 20px;
}

#wrapper.platform>#wrapper-pos h3 {
    margin-bottom: 20px;
    text-align: center;
}

#wrapper.platform>#wrapper-pos .owl-item {
    padding: 0rem;
    border: 1px solid #d7d7d7;
}




#wrapper.platform>#wrapper-footer {
    background-color: #201e1e;
    border-top: 8px solid #fec309;
    padding: 20px;
    font-size: 14px;
    color: #FFF;
}

#wrapper.platform>#wrapper-footer h6 {
    font-size: 1rem;
    color: #ffffff;
    background: none;
}

#wrapper.platform>#wrapper-footer ul {
    list-style: none;
}

#wrapper.platform>#wrapper-footer ul li a {
    color: #FFF;
    opacity: 0.6;
    text-decoration: none;
    height: 48px;
    display: grid;
    align-content: center;
}



#wrapper.platform>#wrapper-footer ul li a:hover {
    opacity: 0.8;
}








.blog-item-article-content .card,
.card-event,
.card-search {
    border: 1px solid #ddd !important;
    position: relative;
}

.card-event>.card-event-circle {
    height: 30px;
    width: 60px;
    position: absolute;
    left: 50%;
    top: -1px;
    border-top: none;
    margin-left: -30px;
    border-radius: 0 0 60px 60px;
    -moz-border-radius: 0 0 60px 60px;
    -webkit-border-radius: 0 0 60px 60px;
    background: #F8F8F8;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.card-event>.card-header {
    height: 70px;
    width: 100%;
    background-color: #FFF !important;
    border: 0px !important;
}

.card-event>.card-header>h2 {
    margin-top: 34px;
    margin-bottom: 13px;
    font-size: 14px;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.card-event .card-img {
    border-radius: 0px !important;
}

.card-event>.card-footer {
    padding: 0px !important;
    border-top: 0px !important;
}

.card-event>.card-footer>.btn {
    border-radius: 0px !important;
}

.card-body p:last-child {
    margin-bottom: 0px;
}

.card-body ol,
.card-body ul {
    padding-left: 16px;
    margin: 0px;
}




h1,
h2,
h3,
h4,
h5,
h6,
.card-event h1,
.card-event h2,
.card-event h3,
.card-event h4,
.card-event h5,
.card-event h6 {
    color: #201e1e;
}

div#tickets .card-header h1,
div#tickets .card-header h2,
div#tickets .card-header h3,
div#tickets .card-header h4,
div#tickets .card-header h5,
div#tickets .card-header h6 {
    color: #FFFFFF;
}




.shows .row .card>section.date:before,
.shows .row .card>section.date:after {
    background-color: #f7f7f7 !important;
}




.blog-category-items-item {
    border: 1px solid #ebeced !important;
}

.blog-category-items-item>img {
    border-bottom: 1px solid #ebeced !important;
}

.blog-category-items-item .card-header {
    background-color: transparent !important;
    border: 0px !important;
    padding: 10px !important;
}

.blog-category-items-item .card-header h1,
.blog-category-items-item .card-header h2 {
    text-align: center !important;
    text-transform: none !important;
}

.blog-category-items-item-intro {
    padding: 0px 10px 10px 10px !important;
    font-size: 14px;
    color: #8c898b;
}

.blog-category-items-item-intro p:last-child {
    margin-bottom: 0px;
}

.blog-category-items-item .card-footer {
    border-top: 1px solid #ebeced !important;
}

.blog-category-items-item .card-footer .blog-category-items-item-readmore {
    margin-top: 0px !important;
}


.blog-category-items-item .card-footer .blog-category-items-item-readmore a {
    background-color: #fbca11;
    border-color: #fbca11;
    padding: 10px;
    display: block;
    text-align: center;
}

.btn-primary.blog-category-items-item .card-footer .blog-category-items-item-readmore a:focus,
.blog-category-items-item .card-footer .blog-category-items-item-readmore a.focus {
    background-color: #e6b704;
    border-color: #e6b704;
}

.blog-category-items-item .card-footer .blog-category-items-item-readmore a:hover {
    background-color: #e6b704;
    border-color: #e6b704;
}

.blog-category-items-item .card-footer .blog-category-items-item-readmore a:active,
.blog-category-items-item .card-footer .blog-category-items-item-readmore a.active {
    background-color: #e6b704;
    border-color: #e6b704;
}




.fade-out-modal-pw {
    z-index: 999999 !important;
}